li{
    display:inline;
    height: 400px;
    width: auto;
    background-color: beige;
    color: black;
    border-radius:15px;
    padding:8px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.first{
    height:250px;
    width:510px;
    background-color: rgb(233, 192, 233);
    border:9px solid whitesmoke;
    border-radius: 15px;
    margin-left: 100px;
  
}
.first h2{
    border:1px solid rgb(233, 192, 233);

}

.second{
   
    border:1px solid rgb(233, 192, 233);
}
.third{
   
    border:1px solid rgb(233, 192, 233);
}
.fourth{
    
    border:1px solid rgb(233, 192, 233);
}

h2{
    margin-left: 38px;
}
body{
    background-color:rgb(231, 203, 231) ;
}

.searchbar{
    height:75px;
    width:430px;
    background-color: rgb(233, 192, 233) ;
    border:9px solid whitesmoke;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 450px;

}
.lastbox{
    height:295px;
    width:345px;
    background-color: rgb(233, 192, 233) ;
    border:9px solid whitesmoke;
    border-radius: 15px;
    margin-left: 50px;

   
  

}
.headinds{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.textbox{
    height:55px;
    width:400px;
    background-color: beige;
    margin:10px 10px;
    display: flex;
    justify-content: right;
    border-radius: 10px;
    margin-right: 30px;
    

}
button{
    height:55px;
    width:100px;
    margin-left:50px;
    background-color: blueviolet;
    color: azure;
    border:1px solid white;
    border-radius: 15px;
}